body {
  // set font size for setting up rem units
  font-size: 10px;
}

nav {
  // set font
  font-family: 'VT323', monospace;
}

footer {
  // set font
  font-family: 'VT323', monospace;
}