@import 'colors';
@import 'navigation';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-bg;
}

a {
  color: $color-fg;
  text-decoration: none;
}

.blog {
  justify-content: center;
}