.home-content {
  font-family: $normal-font;
  display: flex !important;
  justify-content: center !important;
  align-items: stretch;
  flex-direction: column;

  .row {
    display: flex !important;
    justify-content: center !important;

    .col {
      display: flex !important;
      justify-content: center !important;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: 0; 
    border-top: 1px solid transparent;
    margin: 0.5em 0; 
    padding: 0;
  }

  .bio {  
    .headshot {
      width: 100%;
      height: auto;
      max-width: 200px;
    }
    
    .blurb {
      
    }
  }
  
  .headline {
    h1 {
      padding-bottom: 1rem;
    }
  }
  
  .links {
    .list, .col {
      justify-self: flex-start !important;

      li {
        padding: 0.5rem 0;
      }
    }
  }
}