// Light
// $color-bg           : #fbf1c7;
$color-bg           : #f9f5d7;
$color-bright-red   : #cc241d;
$color-bright-green : #98971a;
$color-bright-yellow: #d79921;
$color-bright-blue  : #458588;
$color-bright-purple: #b16286;
$color-bright-aqua  : #689d6a;
$color-dark-gray    : #7c6f64;
$color-bright-orange: #d65d0e;

$color-dark-red     : #9d0006;
$color-dark-green   : #79740e;
$color-dark-yellow  : #b57614;
$color-dark-blue    : #076678;
$color-dark-purple  : #8f3f71;
$color-dark-aqua    : #427b58;
$color-bright-gray  : #928374;
$color-fg           : #3c3836;