---
layout: default
title: Home 
permalink: /
---

<div class="home-content">
  <div class="headline row">
    <h1 class="col"> "Geography provides the problems, computer science provides the tools." </h1>
  </div>
  
  
  <div class="bio row">
    <!-- split into image and blurb -->
    <div class="headshot col-xs-4">
      <img src="/assets/images/headshot.jpg" alt="a picture of Carson DeSotel">
    </div>
  
    <div class="blurb col-xs-8">
      <p>
        I'm a programmer and geographer focused on solving issues of big data, urban planning, and how to further expand the world of GIS.
      </p>

      <br>
      <p>
        I'm currently working on improving my skills in systems-level programming using Rust, working on my own configuration for my Arch Linux system, and developing my code organization skills.
        I'm graduating from the University of Minnesota in May 2022 with a B.S. in Geography and a B.A. in Computer Science.
        I've accepted a position at Optum as a Technology Development Program Associate (Junior level software developer).
      </p>
    </div>
  </div>
  
  <hr>

  <div class="links row">
    <h1 class="row"> Links: </h1>
    <ul class="list col-xs-8">
      {% for link in site.data.links %}
        <li><a href="{{ link.url }}"><h3>{{ link.name }}</h3></a>{{ link.desc }}</li>
      {% endfor %}
    </ul>
  </div>

  <hr>

  <div class="links row">
    <h1 class="row"> Recent Posts: </h1>
    <ul class="list col-xs-8">
      {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}"><h3>{{ post.title }}</h3> </a>{{ post.excerpt }}</li>
      {% endfor %}
    </ul>
  </div>

</div>