<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- define basic site properties -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- include stylesheets-->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <!-- add fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=VT323&display=swap" rel="stylesheet">
  </head>

  <!-- website design -->
  <body>
    <article>
      <!-- nav bar -->
      {% include navigation.html %}

      <!-- overlay content -->
      <div class="overlay row center-xs">
        <!-- page content -->
        <div class="main-content col-xs-6">
          {{ content }}
        </div>
      </div>

      <!-- footer -->
      {% include footer.html %}
    </article>
  </body>
</html>
