html, body {
  margin: 0;
  height: 100vh;
}

article {
  display: flex !important;
  flex-direction: column;
  height: 100%;

  align-items: stretch;

  &::before {
    background-image: url(/assets/images/IMG_1917.JPG);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }
}

.overlay {
  flex: 1 !important;
  overflow: auto;
  padding: 0 2rem;
}

.main-content {
  height: 100%;
  overflow: auto;
  background-color: whitesmoke;
}

.main-content, header, footer {
  flex-shrink: 0 !important;
}