html, body {
  height: 100vh;
}

body {
  background-color: black;
}

article {
  display: flex !important;
  min-height: 100%;
  align-items: stretch;
  flex-direction: column;
}

.overlay {
  padding: 0 2rem;
}

.main-content {
  background-color: blanchedalmond;
}

.main-content, .overlay {
  flex-grow: 1 !important;
}

.main-content, header, footer {
  flex-shrink: 0 !important;
}