html, body {
  height: 100vh;
}

body {
}

article {
  display: flex !important;
  min-height: 100%;
  align-items: stretch;
  flex-direction: column;

  &::before {
    background-image: url(/assets/images/IMG_1917.JPG);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }
}

.overlay {
  padding: 0 2rem;
}

.main-content {
  background-color: whitesmoke;
}

.main-content, .overlay {
  flex-grow: 1 !important;
}

.main-content, header, footer {
  flex-shrink: 0 !important;
}