footer {
  background-color: $header-footer-color;
  font-family: $normal-font;

  font-size: 0.75rem;
  color: white;
  margin: 0.5rem 0rem;
  flex-shrink: 0;

  .copyright {
    padding: 0.5rem;
  }
}